@mixin content-container {
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 20px 0;
    max-width: 1200px;
    padding: 25px;
    position: relative;
}

.content-container {
    @include content-container();
}
