.horizontal-bar-chart {
    max-width: 800px;

    .legend {
        margin: 20px 0 10px 0;
        text-align: center;

        span {
            color: gray;
            font-size: 12px;
            margin-right: 20px;

            &:before {
                content: '';
                display: inline-block;
                height: 11px;
                margin-right: 6px;
                position: relative;
                top: 1px;
                width: 20px;
            }

            &.target:before {
                background-color: rgb(213, 219, 219);
            }

            &.achieved:before {
                background-color: rgb(39, 174, 96);
            }

            &.not-achieved:before {
                background-color: rgb(203, 67, 53);
            }
        }
    }
}

::ng-deep .mat-button-toggle-label-content {
    line-height: 32px !important;
}
