<h4>ReactiveFormComponent</h4>

<div class="form-feedback success" *ngIf="validFormDetails">
    <i class="fas fa-check-circle"></i>
    <span>Form submitted.</span>
</div>

<div class="form">
    <form [formGroup]="employeeDetailsForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Enter the details below:</legend>

            <div class="form-row">
                <label>Name:</label>
                <input type="text" formControlName="name" required />
            </div>
            <div class="validation-error" *ngIf="name.invalid && (name.dirty || name.touched)">
                <ng-container *ngIf="name.errors.required">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Name is required.</span>
                </ng-container>
                <ng-container *ngIf="name.errors.notAllCaps && !name.errors.required">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Name needs to be all UPPERCASE.</span>
                </ng-container>
            </div>

            <div class="form-row">
                <label>Email:</label>
                <input type="text" formControlName="email" />
            </div>
            <div class="validation-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                <i class="fas fa-exclamation-triangle"></i>
                <span>Email address is invalid.</span>
            </div>

            <ng-container formArrayName="employmentHistory">
                <h4 class="form-heading">Employment History</h4>
                <div class="form-group" [formGroupName]="i" *ngFor="let item of employmentHistory.controls; let i=index">
                    <div class="form-row">
                        <label>Company Name:</label>
                        <input type="text" formControlName="companyName" />
                    </div>
                    <div class="validation-error" *ngIf="item.get('companyName').invalid && (item.get('companyName').dirty || item.get('companyName').touched)">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span class="company-names-validation">
                            Please enter one of the following:
                            <ng-container *ngFor="let company of companyNames">
                                <span>{{ company }}</span>
                            </ng-container>
                        </span>
                    </div>

                    <div class="form-row">
                        <label>Job Title:</label>
                        <select formControlName="jobTitle">
                            <option>Select</option>
                            <option *ngFor="let title of jobTitles">{{title}}</option>
                        </select>
                    </div>
                    <div class="validation-error" *ngIf="item.get('jobTitle').invalid && (item.get('jobTitle').dirty || item.get('jobTitle').touched)">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>Please select a valid 'Job Title'.</span>
                    </div>

                    <div class="form-row">
                        <label>Employment Period (from-to):</label>
                        <input type="date" class="date-field" formControlName="fromDate" />
                        <input type="date" class="date-field" formControlName="toDate" />
                    </div>

                    <div class="form-row">
                        <label>
                            Skills:
                            <button class="add-button link-style" (click)="addSkill(i)">+ Add skill</button>
                        </label>
                        <div class="skills-group" formArrayName="skills">
                            <ng-container [formGroupName]="j" *ngFor="let skill of getSkills(i).controls; let j=index">
                                <select formControlName="skill">
                                    <option>Select</option>
                                    <option *ngFor="let skill of skills">{{skill}}</option>
                                </select>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <button class="add-button link-style" (click)="addEmploymentHistory()">+ Add row</button>
            </ng-container>

            <div class="form-row buttons">
                <button (click)="onReset()">Reset</button>
                <button (click)="onSubmit()" [disabled]="employeeDetailsForm.status === 'INVALID'">Submit</button>
            </div>
        </fieldset>
    </form>
</div>

<div class="objectValues">
    <p>{{ employeeDetailsForm.status }}</p>
    <p>{{ employeeDetailsForm.value | json }}</p>
</div>
