// Globally available styles

@import 'text';
@import 'mixins';

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    letter-spacing: 0.015rem;
    line-height: 22px;
    margin: 0;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}
