<div class="card mb-4">
  <div class="card-img-wrapper">
     <img src="{{member.photoUrl}}" alt="{{member.name}}" class="card-img-top">
     <ul class="list-inline member-icons animate text-centre">
      <!-- add routerlink when we ll be delaing with userdetail component -->
         <li class="list-inline-item"><button routerLink="/users/{{member.id}}" class="btn btn-primary">
             <i class="fa fa-user"></i>
         </button></li>
         <li class="list-inline-item"><button class="btn btn-primary">
             <i class="fa fa-heart"></i>
         </button></li>
         <li class="list-inline-item"><button class="btn btn-primary">
          <i class="fa fa-envelope"></i>
         </button></li>
     </ul>
  </div>
  <div class="card-body p-1">
    <h5 class="card-title text-centre mb-1"><i class="fa fa-user mr-2"></i>
      {{member.knowAs}}
    </h5>
    <p class="card-text text-muted text-centre">{{member.country}}</p>
  </div>
</div>
