<div class="component">

    <div class="component-label">Switch Component</div>

    <h4>Switch Case Example</h4>

    <p>Select an employee name:</p>

    <select [(ngModel)]="selectedEmployee">
        <option *ngFor="let employee of employees" [ngValue]="employee">{{ employee.name }}</option>
    </select>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Active?</th>
            </tr>
        </thead>
        <tbody [ngSwitch]="selectedEmployee.id">
            <tr *ngSwitchCase="'1'">
                <td>{{ selectedEmployee.id }}</td>
                <td>{{ selectedEmployee.name }}</td>
                <td>{{ selectedEmployee.location }}</td>
                <td>{{ selectedEmployee.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr *ngSwitchCase="'2'">
                <td>{{ selectedEmployee.id }}</td>
                <td>{{ selectedEmployee.name }}</td>
                <td>{{ selectedEmployee.location }}</td>
                <td>{{ selectedEmployee.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr *ngSwitchCase="'3'">
                <td>{{ selectedEmployee.id }}</td>
                <td>{{ selectedEmployee.name }}</td>
                <td>{{ selectedEmployee.location }}</td>
                <td>{{ selectedEmployee.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr *ngSwitchCase="'4'">
                <td>{{ selectedEmployee.id }}</td>
                <td>{{ selectedEmployee.name }}</td>
                <td>{{ selectedEmployee.location }}</td>
                <td>{{ selectedEmployee.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr *ngSwitchCase="">
                <td colspan="4">No employee selected</td>
            </tr>
        </tbody>
    </table>

</div>
