<div class="component">

    <h4>Custom Pipes</h4>

    <h5>1. Exponent Calculator Pipe:</h5>
    <p>Input your own number and exponent.</p>
    <input class="small" type="text" [(ngModel)]="base" />
    <input class="small" type="text" [(ngModel)]="exponent" />
    <p>Answer: {{ base ? base : 0 }}<sup>{{ exponent ? exponent : 0 }}</sup> = {{ base | exponentCalc: exponent }}</p>
    <br />

    <h5>2. Alphabetical Character Counter Pipe:</h5>
    <p>Input your own text:</p>
    <input class="long" type="text" [(ngModel)]="inputText" (ngModelChange)="countAlphaChars()" />
    <p>There are {{ characterCount }} alphabetical characters in the text.</p>

</div>
