<app-content-container>
    <h4>HomeComponent</h4>
    <h5>Implementations for <em>Angular Routing</em> exercises.</h5>
    <p>Includes:</p>
    <ul>
        <li>Passing optional parameters to a route (e.g. <a [routerLink]="['/employees/view', 1]">employee/view/1</a>)</li>
        <li>Nested routes with children</li>
        <li>Feature modules</li>
        <li>Lazy loading for modules</li>
        <li>Shared module for components shared between feature modules</li>
    </ul>
</app-content-container>
