nav {
    margin: 20px;

    a {
        border: 1px solid #ccc;
        border-radius: 3px;
        color: dodgerblue;
        display: inline-block;
        margin-right: 15px;
        padding: 6px 10px;
        text-decoration: none;

        &:hover {
            border-color: dodgerblue;
        }

        &.active {
            background-color: dodgerblue;
            border-color: dodgerblue;
            color: white;
        }
    }
}
