<div class="component">

    <h4>List of Employees</h4>

    <button (click)="toggleData()">{{ dataButtonLabel }}</button>

    <ng-container *ngIf="isDataVisible">

        <button (click)="getEmployees()">Add data</button>

        <button (click)="toggleView()">{{ viewButtonLabel }}</button>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Active?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; trackBy: trackByEmployeeId"
                    [ngStyle]="{ 'background-color': employee.isActive ? '#eaffe3' : '#ffe8ee' }"
                >
                    <ng-container *ngIf="employee.isActive === isActiveView">
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.name | titlecase }}</td>
                        <td>{{ employee.location | uppercase }}</td>
                        <td [ngClass]="{
                                'status-active': employee.isActive === true,
                                'status-inactive': employee.isActive === false
                            }">
                            {{ employee.isActive ? 'Yes' : 'No' }}
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>

    </ng-container>

</div>
