@mixin content-container {
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 20px 10px;
    padding: 25px;

    .scrolling-box {
        background-color: whitesmoke;
        overflow: auto;
        max-height: 60vh;
        padding: 15px;
    }
}

.content-container {
    @include content-container();
}
