<div class="container mt-5" >
  <div *ngIf="!registerMode" style='text-align:center'>
  <h2 style="margin-top: 20%;">Find your Perfect Match...</h2>
  <p class="lead">Join us to find your matches</p>
  <div class="text-centre">
      <button (click)="registerToggle()" class="btn btn-success btn-lg mr-2">Register</button>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
      <div class="col-4">
         <app-register (cancelRegister)="cancelRegister($event)"></app-register>
      </div>
  </div>
</div>
