.pie-chart {
    max-width: 300px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

strong {
    font-weight: 500;

    &.achieved {
        color: rgb(39, 174, 96);
    }

    &.not-achieved {
        color: rgb(203, 67, 53);
    }
}
